.modal-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
.modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-bottom: none;
}
.bg-dark1{
background-color: #0c1e25;
z-index: 9999;
color: #EE9B00;
}
.bg-light1{
    background-color: #fff;
    z-index: 9999;
    color: #ff206e;
    }
button.btn-close{
    color: #fff !important;
    margin: 0 0 !important;
}
.title-box{
    width: 24px;
}

